body {
  text-align: center;
}

h1 {
  margin-top: 10px;
}

.station {
  border-bottom: 1px solid #DDD;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 5px;
}

.back-button {
  float: left;
  margin-left: 1em;
}
